.buttonContainerAll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  z-index: 2;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 126px;
  height: 124px;
  background: none;
  background-color: rgb(8, 9, 11);
  border: none;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0 15px 8px -12px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
  &.active {
    transition: all 0.1s ease;
    box-shadow: 0 6px 12px -12px rgba(13, 57, 185, 1);
  }

  .hiddenCheckbox:checked + & {
    .button {
      transition: all 0.1s ease;
      box-shadow: inset 0 1px 5px rgba(29, 26, 26, 0.6);
      transform: scale(0.98);

      &::before {
        transition: all 0.1s ease;
        opacity: 1;
      }
    }
  }
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.hiddenCheckbox:checked ~ .buttonIndicator {
  background-color: rgb(65, 233, 246);
  box-shadow: 0 0 15px 10px rgba(13, 57, 185, 0.6);
  // filter: drop-shadow(0 0 10px rgba(13, 57, 185, 0.6));
}

.hiddenCheckbox:checked ~ .buttonContainer {
  transition: all 0.1s ease;
  box-shadow: 0 6px 12px -12px rgba(13, 57, 185, 1);
}

.button {
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 118px;
  height: 116px;
  background: radial-gradient(circle at 15% 15%, rgba(255, 255, 255, 0.2), rgba(50, 50, 50, 0.2) 28%),
    radial-gradient(circle at 85% 15%, rgba(255, 255, 255, 0.2), rgba(50, 50, 50, 0.2) 28%),
    radial-gradient(circle at 15% 85%, rgba(104, 104, 104, 0.4), rgba(50, 50, 50, 0.2) 40%),
    radial-gradient(circle at 85% 85%, rgba(104, 104, 104, 0.4), rgba(50, 50, 50, 0.2) 40%);
  border-radius: 24px;
  box-shadow: inset 0 1px 5px rgba(36, 35, 35, 0.6);

  transition: all 0.1s ease;

  &::before {
    transition: all 0.1s ease;
    content: '';
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    background: radial-gradient(circle, rgba(13, 57, 185, 0.4) 0%, rgba(13, 57, 185, 0) 70%);
    pointer-events: none;
    opacity: 0;
    box-shadow: 0 0 15px 15px rgba(13, 57, 185, 0.6);
  }

  &.active {
    transition: all 0.1s ease;
    box-shadow: inset 0 1px 5px rgba(29, 26, 26, 0.6);
    transform: scale(0.98);

    &::before {
      transition: all 0.1s ease;
      opacity: 1;
    }
  }
}

.buttonPressZone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  margin-top: 5px;
  background-image: linear-gradient(to bottom, rgb(22, 22, 24) 0%, rgb(45, 46, 48) 60%, rgb(23, 23, 24) 100%);
  border: 1px solid rgb(50, 51, 53);
  border-radius: 20px;
  box-shadow: 0 10px 5px rgba(50, 51, 53, 0.6);

  &.active {
    background-image: linear-gradient(
      to bottom,
      rgb(18, 19, 21) 0%,
      rgb(35, 36, 38) 85%,
      rgb(40, 41, 43) 90%,
      rgb(50, 51, 53) 100%
    );
    transition: all 0.1s ease;
  }
}

.buttonIndicator {
  position: relative;
  width: 4px;
  height: 4px;
  background-color: rgb(61, 61, 61);
  border-radius: 50%;
  transition: all 0.1s ease;
  left: 50%;
  margin-top: 15px;
  // &.active {
  //   background-color: rgb(65, 233, 246);
  //   box-shadow: 0 0 10px 8px rgba(13, 57, 185, 0.6);
  //   filter: drop-shadow(0 0 30px rgba(13, 57, 185, 0.6));
  // }
}

.buttonImage {
  position: relative;
  width: 36px;
  height: 36px;
  color: rgb(22, 23, 24);

  &::before {
    content: '';
    position: absolute;
    top: 18px;
    right: 7px;
    width: 4px;
    height: 4px;
    transform: translate(50%, -50%);
    background-color: rgb(22, 23, 24);
    border-radius: 20px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 18px;
    left: 7px;
    width: 4px;
    height: 4px;
    transform: translate(-50%, -50%);
    background-color: rgb(22, 23, 24);
    border-radius: 20px;
  }
}
